@import "base";
@import "component";

.navbar {
    position: relative;
    z-index: 300;

    .checkbox {
        display: none;
    }

    .navbar-navigation {

        display: flex;
        flex-direction: row;
        z-index: 1;


        .navbar-navigation-right {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50vw;
            height: 100vh;

            position: fixed;
            right: -50vw;
            font-size: 20px;
            background-color:black;
            transition: right 2s cubic-bezier(1, 0, 0, 1);

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: $color-light;
                    width: 200px;
                    display: inline-block;
                    padding: 10px 0;
                    text-align: center;
                    transition: letter-spacing 0.05;
                    font-weight: bold;

                    &:hover {
                        letter-spacing: 3px;
                    }
                }
            }
        }

        .navbar-navigation-left {
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            justify-content: center;
            align-items: center;
            position: fixed;
            left: -50vw;
            transition: left 2s cubic-bezier(1, 0, 0, 1);

            .images-container {
                width: 250px;
                height: 150px;
                position: relative;
                @include centering(50%);

                .img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    border-radius: 30px;
                }

                .img-1 {
                    top: 0;
                    left: 0;
                }

                .img-2 {
                    top: 15%;
                    left: 15%;
                }

                .img-3 {
                    top: 30%;
                    left: 30%;
                }
            }
        }
    }

    .checkbox:checked~.navbar-navigation .navbar-navigation-left {
        left: 0;
    }

    .checkbox:checked~.navbar-navigation .navbar-navigation-right {
        right: 0;
    }
}

.header {
    width: 100vw;
    height: 100vh;
    background: url(../images/bg.jpeg);
    display: flex;
    flex-direction: column;

    .header-banner {
        @include centering(20%);
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;




    }

    .header-welcome {

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        @include centering(60%);

        .main-text {
            font-family: nastaligh;
            text-transform: uppercase;
            color: $color-primary
        }

        .sub-text {
            font-family: simple;
            font-size: 20px;
            color: $color-white
        }


    }
}

.about-us {
    display: flex;
    flex-direction: row;
    padding: 20px;

    .description {

        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .main-text,
        .main-heading {

            color: $color-white;
        }

        .starRate {
            display: flex;
            margin-bottom: 15px;

            .star {
                width: 30px;
                height: 30px;
                background: url(../images/star.png) no-repeat center;
                background-size: 30px 30px;
                margin-left: 5px;

            }
        }

        .description-text {
            color: $color-white;
text-align:justify;
            margin-bottom: 30px;
            padding:30px;
        }

    }

    .description-image {
        width: 50%;
        display: flex;
        
            .img{
                width:100%;
            }
      
    }
}

.food-choose {


    .food-row {
       
     

        .food {
            float:right;
            width: 33.3%;
            height: 20%;

            position: relative;



            img {
                width: 100%;
                height: 100%;

                opacity: 0.5;
            }

            .overlay {
                width: 100%;
                height: 100%;
                @include centering(50%);
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;



                .food-name,
                .food-price {
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 10px;

                }

                .btn-order {
                    border-radius: 20px;
                    border-color: $color-primary;
                    color: $color-dark;
                    padding: 10px;
                }

            }

            &:hover .overlay {
                display: flex;


            }

            &:hover {
                background-color: $color-primary;


            }


        }

    }
}

.footer {
    padding: 30px;

    .footer-upper {
        padding: 30px;
        display: flex;
        justify-content: center;
    }
    .footer-bottom{
        .footer-text{
            color:white;
            text-align:center;
            font-size:25px;
        }
    }
}
